html {
    height: 100%;
}

*{
box-sizing:border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #ebecf0;
    height: 100%;
    font-family:Arial;
}

.field {
    background-color: #FFFFFF;
    padding: 5px;
    margin: 5px;
    font-size: 18px;
    transition: 0.2s;
    border-radius: 4px;
    text-align: center;
    box-shadow: 1px 1px 0 grey;
    border: none;
}

.field:hover {
    background-color: #bfbfbf;
}

button {
    cursor: pointer;
    border: none;
}

a{
    user-drag:none;
    text-decoration: none;
    color:black;
}

a:visited {
    color: black;
}

h3{
    margin-left:30px;
}

input[type=checkbox] {
    float: right;
    margin: 5px;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    cursor: pointer;
}

header{
    padding: 5px;
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 0 #bfbfbf;
    display:flex;
    flex-direction: row;
    align-items:center;
}

.multiple_actions {
    padding: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: right;
    box-sizing: border-box;
    position: relative;
    bottom: 40px;
    transition: 0.2s;
}

.multiple_actions_extended{
    bottom: 0;
}

.action {
    background-color: #FFFFFF;
    padding:5px;
    margin: 5px;
    font-size: 18px;
    transition: 0.2s;
    border-radius: 4px;
}

.action:hover{
    background-color: #bfbfbf;
}

.no-decoration{
    background:none;
    margin:0;
    padding:0;
}

.blocked{
    color:grey;
    cursor: inherit;
}

.blocked:hover{
    background:none;
}

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    background-color: #CDCDD2;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px grey;
    font-size: 20px;
}
.buttons{
    margin:10px;
    display: flex;
    justify-content:space-between;
}

.popup > p{
  font-size: 32px;
  text-align: center;
}
.popup  button{
    width:100px;
    display:block;
}

.share_form{
width:100%;
display:flex;
flex-direction: column;
margin:0;
}

label.account{
    margin-top:5px;
    display:block;
    display: flex;
    justify-content:start;
}

.share_popup{
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40%;
    background-color: #CDCDD2;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px grey;
    font-size: 20px;
    padding: 10px;
    margin-bottom:100px;
}

textarea{
resize:none;
}