html{
    height:100%;
}


body{
    height:100%;
}

header{
    justify-content:space-between;
}

.cont{
    display:flex;
    flex-direction:row;
    height:100%;
}



.chains{
    box-sizing:border-box;
    min-height: 800px;
    height:100%;
    width:20%;
}

.select_chain{
    width:100%;
    height:50px;
    font-size: 20px;
    display:flex;
    justify-content:space-between;
}

.select_chain > div{
    display:flex;
    align-items:center;

}

.chain_name{
    width:90%;
    justify-content:space-around;
}

.select_chain:hover{
    background-color:#bfbfbf;
    cursor:pointer;
}

.new_chain{
    border-top: #707070 1px solid;
}

.left-block{
    display:flex;
    align-items:center;
}

main{
    border-left:2px #bfbfbf solid;
    min-height: 800px;
    width:80%;
}

.main_form > div{
width:40%;
height:200px;
display:flex;
flex-direction: column;
justify-content: start;
padding:10px;
}



.main_form{
    display:flex;
    justify-content:space-between;
}

.right input[type=checkbox]{
float:left;
}
.right{
padding-top:20px;
}

label{
font-size:0.8em;
}

.right > div{
display: flex;
justify-content:start;
align-items:center;
margin-bottom: 15px;
}

.toggle_chain_button{
border:2px #bfbfbf solid;
border-radius: 5px;
margin-top:10px;
}

.left input {
width:100%;
box-sizing:border-box;
}

.messages{
    border-top: 2px solid #bfbfbf;
    padding:5px;
}

.message{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width: 100%;
    background-color: #FFFFFF;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 0 grey;
    padding:7px;
    box-sizing:border-box;
}
.message > * {
margin-right: 10px;
}

.message input[type=number]{
width: 60px;
}


.save{
    width:80%;
    height:50px;
    background-color: white;
    border-top:2px solid #bfbfbf;
    bottom:0;
    display:flex;
    justify-content:center;
    align-items:center;
    position:fixed;
}

input[type=submit]{
background:none;
width: 100%;
height:50px;
border:none;
margin: 0;
}

.delete_cb{
opacity:0;
position:absolute;
z-index:-1;
width: 1px;
height:1px;
}

.manage_message{
display:flex;
justify-content: space-between;
align-items: center;
width:40px;
}

.manage_message > * {
display:block;
cursor:pointer;

}

.new_message{
width:100%;
}