<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'base.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'index_styles.css')}}">
    <script src="{{url_for('static',filename = 'jquery.js')}}"></script>
    <script src="{{url_for('static',filename = 'keep_server_alive.js')}}"></script>
    <script src="{{url_for('static',filename = 'multi_actions.js')}}"></script>
    <script src="{{url_for('static',filename = 'add_group.js')}}"></script>
    <script src="{{url_for('static',filename = 'check_status.js')}}"></script>
    <script src="{{url_for('static',filename = 'drndr.js')}}"></script>
    <script src="{{url_for('static',filename = 'select_all.js')}}"></script>
    <link href='https://css.gg/controller.css' rel='stylesheet'>
    <title>Teleresponder 2.0</title>
</head>
<body>
<header class="end">
    <h3 class="main_h">Teleresponder 2.0</h3>

    <div class="multiple_actions ">
        <button class="action" onclick="select_all()">Выбрать все</button>
        <button class="action" onclick="multi_actions_activated('toggle', 'account')">Вкл/выкл</button>
        <button class="action" onclick="multi_actions_activated('delete', 'account')">Удалить</button>
    </div>
    <button class="no-decoration"><a href="{{url_for('chains')}}?account_id=0" class="action">Шаблоны</a></button>
    {% if add_button %}
    <button class="add-group action" onclick="add_group()">Новая группа</button>
    {% else %}
    <button class="add-group action blocked" onclick="add_group()">Новая группа</button>
    {%endif%}
</header>
<form id="account_number_form" action="/api/move_account" method="post">
    <main>
        {%for i in range(groups|length)%}
        <div class="group_container">
            <div class="group" id="group{{i}}">
                {%for account in groups[i]%}
                <div class="account" id="account{{account.id}}" number="{{account.number}}">
                    <input hidden name="{{account.id}}:group_number" value="{{i}}">
                    <a href="{{url_for('chains')}}?account_id={{account.id}}" ondrag="return false"
                       ondragstart="return false"
                       class="account_repr">{{account.user_repr}}</a>
                    <div class="account_manage">
                        <button class="indicator" title="{{status_titles[account.status]}}"
                                onclick="toggle({{account.id}}, 'account')"></button>
                        <input autocomplete="off" type="checkbox" class="ma select_all" id="cb{{account.id}}"
                               onclick="multi_actions()">
                        <div class="gg-controller" onmousedown="drag(event, this)"></div>
                    </div>
                </div>
                {%endfor%}
                <a class="account add_account" href="{{url_for('add_account')}}?group_number={{i}}">Добавить аккаунт</a>
            </div>
        </div>
        {%endfor%}

    </main>
</form>
</body>
</html>