main {
    width: 500px;
    min-height:800px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

label {
    height: 20px;
    font-size: 18px;
    margin: 40px 0 0;
    text-align: center;
}

.add_all {
    margin-top: 100px;
}
