<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'base.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'chains.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'arrow.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'drag.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'trash.css')}}">
    <script src="{{url_for('static',filename = 'multi_actions.js')}}"></script>
    <link href='https://css.gg/controller.css' rel='stylesheet'>
    <script src="{{url_for('static',filename = 'chains.js')}}"></script>
    <script src="{{url_for('static',filename = 'select_all.js')}}"></script>
    <meta charset="UTF-8">
    <title>Teleresponder 2.0</title>
</head>
<body>
<header>
    <div class="left-block">
        <a class="gg-arrow-left" href="{{url_for('index')}}"></a>
        <h3>{{page_name}}</h3>
    </div>
    <div class="multiple_actions">
        <button class="action" onclick="select_all()">Выбрать все</button>
        <button class="action" onclick="multi_actions_activated('toggle', 'chain')">Вкл/выкл</button>
        <button class="action" onclick="multi_actions_activated('delete', 'chain')">Удалить </button>
        <button class="action" onclick="multi_actions_activated('share', 'chain')">Расшарить</button>
    </div>
</header>
<div class="cont">
    <div class="chains">
        <div id="chains_container">
            {%for chain in chains%}
            <div class="select_chain">
                <div class="chain_name" onclick="get_chain({{chain.id}})">{{chain.name}}</div>
                <div><input type="checkbox" class="ma select_all" id="cb{{chain.id}}" onclick="multi_actions()"></div>
            </div>
            {%endfor%}

        </div>
        <div class="select_chain new_chain">
            <div class="chain_name" onclick="new_chain({{account_id}})">Добавить</div>
        </div>
    </div>


    <main>

    </main>

</div>
</body>
</html>

<script>
    get_chain("{{chain_id}}")
</script>