<div class="share_popup">
    <p> Выберите аккаунты:</p>
    <form class="share_form" method="post">
        <input hidden name="share_chains:cids" value="{{cids}}">

        {% for account in accounts %}
        <label class="account">
            <input type="checkbox" name="{{account.id}}:share" class="select_all_share">
            {{account}}
        </label>
        {% endfor %}
        <div class="buttons">
            <button type="button" class="action" onclick="select_all('.select_all_share')">Выбрать все</button>
            <button type="submit" class="action">Подтвердить</button>
        </div>
    </form>
</div>
